<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="registration.testing.firebase.com.firebaseregistration">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/firebase_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/firebase_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.LoginActivity"
            android:label="Authentication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.RegistrationActivity"
            android:label="Authentication">
        </activity>
    </application>

</manifest>